*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
    font-size: 16px;
}
body{
    background-color: #b8b8b8;
}
h1{
    margin: 10px;
    padding: 10px;
    font-size: 38px;
    font-weight: 500;
    text-align: center;
}

.main-div{
    align-items: center;
    margin: 30px;
    padding: 40px;
    background: whitesmoke;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: ;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
input{
    width: 150px;
    border: 1px solid;
    outline: none;
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
}

p{
    font-size: 17px;
}

.first-div{
    display: flex;
}

.first-first-div{
    width: 50%;
}

.first-second-div{
    width: 50%;
}

.email, .number, .department{
    width: 310px;
}

.second{
    display: flex;
}

.second-first, .second-second{
    width: 50%;
    max-width: 100%;
}

.password{
    border: none;
    outline: none;
 
}

button{
    display: flex;
    color: #fff;
    text-align: center;
    margin: auto;
    justify-content: center;
    background: #000;
    width: 50%;
    border-radius: 5px;
    border: none;
    height: 1.6em;
    align-items: center;
    font-weight: 500;
}
a{
    color: #fff;
    text-decoration: none;
}

.bg{
    color: red;
}