*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #b8b8b8;
}
.main-div{
    align-items: center;
    margin: 30px;
    padding: 40px;
    background: rgb(234, 253, 243);
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    border: none;
    outline: none;
    animation: fig 3s linear 1s 1 forwards;
}
@keyframes fig{
    0%{
        transform: translate(-500px);
    }
}
h2{
    padding: 5px;
    animation-name: square;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: 1;
        
}

@keyframes square {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateX(0);
    }

}
.popup{
      padding-top: 5px;
      margin-top: 5px;

}
p{
    padding: 5px;
    font-size: 18px;
/*    animation: squaretag 2s linear 3s 1;***/
}
@keyframes squaretag {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0);
    }
}
.click{
    margin-top: 50px;
    font-size: 18px;
}
a{
    text-decoration: none;
    transition: all;
}
a:hover{
    text-decoration: und;
}
