*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #b8b8b8;
}
.main-div{
    align-items: center;
    margin: 30px;
    padding: 40px;
    background: rgb(234, 253, 243);
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: ;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    border: none;
    outline: none;
}
}